/.idea
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/var/
/public/bundles/
/config/secrets/prod/prod.decrypt.private.php
/vendor/

/.php-cs-fixer.php
/.php-cs-fixer.cache

/phpunit.xml
/.phpunit.result.cache

/.env.local
/.env.local.php
/.env.*.local
