<div class="allergens-with-categories-area">
    <button class="add-allergens-button">
        Ajouter un allergène
    </button>
    <button class="add-categories-button">
        Ajouter une catégorie
    </button>
    <button class="add-allergens-button-icon">
        <img src="{{ asset('img/allergene.png') }}" alt="Ajouter un allergène">
    </button>
    <button class="add-categories-button-icon">
        <img src="{{ asset('img/categorie.png') }}" alt="Ajouter une catégorie">
    </button>
</div>
<button class="add-filters-button">
    Filtres
</button>