<div class="footer-nav-container">
    <div class="footer-nav-list">
        <a href="">FAQ</a>
        <a href="">Contact</a>
        <a href="">À propos</a>
        <a href="">Mentions légales</a>
    </div>
    <div class="footer-nav-logo">
        <img src="{{ asset('img/logo-urfridge-transparent-white.png') }}" alt="">
    </div>
</div>
<p class="copyright">
    @UrFridge 2023
</p>