<section class="recipes-list">
    <p class="no-recipe">Bientôt de délicieux plats apparaitront ici</p>
    <p>
        Ici pas de recette, voir dans le template de recettes favorites comment
        implémenter l'affichage des recettes (insérer en remplacement du
        paragraphe p.no-recipe.
    </p>
</section>