.content {
    align-items: center;
}

.search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    margin-top: 50px;
    width: 100%;
}

.above-search-bar {
    width: 91%;
    margin: 15px 15px 15px 15px;
    align-self: self-start;
}

.search-bar {
    display: flex;
    border: 3px solid transparent;
    background: linear-gradient(white, white) padding-box,
              linear-gradient(45deg, rgba(255, 127, 80, 0.74), rgba(66, 186, 64, 0.65), rgba(76, 185, 165, 0.58)) border-box;
    border-radius: 30px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    margin: 15px;
}

.search-bar > input {
    margin: 0;
    padding: 15px 5px 15px 15px;
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1;
    font-size: 18px;
}

.search-bar > input::placeholder {
    font-size: 18px;
}

.search-bar img {
    flex: 0;
    margin-right: 5px;
}

.recipe-container {
    width: 100%;
}

.recipe-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.no-recipe {
    width: 80%;
    align-self: center;
    text-align: center;
}

.recipe {
    display: flex;
    background-color: #F3F2F2;
    border-radius: 20px;
    margin: 20px 0 20px 0;
    width: 100%;
    height: min-content;
}

.recipe-info > * {
    margin: 20px;
    width: 100%;
    box-sizing: border-box;
}

.recipe-image {
    border-radius: 14px 0 0 14px;
    aspect-ratio: 1 / 1;
    height: 150px;
}

.recipe-name {
    font-weight: 600;
    font-size: 20px;
    color: #595757;
    width: auto;
}

.ingredient-possession {
    color: #595757;
    width: auto;
}

@media only screen and (min-width: 600px) {
    .search-bar-container {
        width: 80%;
    }

    .recipe-container {
        width: 80%;
    }

}

@media only screen and (min-width: 1000px) {

    .search-bar-container {
        width: 60%;
    }

    .recipe-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .recipe {
        width: 40%;
        margin: 30px 30px 0 30px;
    }
}