@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.banner {
    display: flex;
    align-items: center;
    background: linear-gradient(to left, rgba(255, 127, 80, 40%), rgba(76, 185, 165, 40%)) 0 0/cover,
    url("../img/fridge.jpg") center/cover no-repeat;
    padding: 2% 0;
    align-self: normal;
    flex-direction: column;
}

.banner-content {
    display: flex;
    background-color: rgba(255,255,255,0.74);
    border-radius: 10px;
    align-self: center;
    padding: 10px;
}

.banner-profile-picture {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: solid 2px #00000000;
    background: linear-gradient(#fff,#fff) padding-box,
    linear-gradient(to left, rgba(76, 185, 165, 58%), rgba(66, 186, 64, 66%), rgba(255, 127, 80, 74%)) border-box;
    margin: 0px 5px;
}

.banner-profile-identity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 1000;
    color: #4CB9A5;
    align-self: center;
}

.edit-profile-area {
    display: flex;
    flex-direction: column;
}

.edit-profile-informations-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    align-self: center;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 100px;
}

.profile-information-input {
    display: flex;
    padding: 10px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: white;
    background-color: rgba(255, 127, 80, 0.8);
    border: none;
    border-radius: 22px;
    margin: 10px 15px;
    width: 500px;
}

.profile-information-input:focus {
    outline: none;
}

.profile-information-input::placeholder {
    color: white;
}

.submit-profile-informations {
    display: flex;
    width: fit-content;
    padding: 15px 30px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    background-color: #4CB9A5;
    border: none;
    border-radius: 22px;
    align-self: center;
    cursor: pointer;
    margin: 5px;
}

.edit-profile-picture-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-picture-input-area {
    display: flex;
    width: 200px;
    height: 200px;
    background-size: contain;
    border-radius: 22px;
    align-self: center;
    margin: 10px 0;
}

.input-picture-button-area {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgba(255,255,255,0.5);
}

.input-picture-button {
    display: flex;
    background-color: #4CB9A5;
    border-radius: 22px;
    align-self: center;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.profile-picture-input {
    display: none;
}

@media only screen and (min-width: 300px) {
    /* modification css ici */
}

@media only screen and (min-width: 400px) {
    /* modification css ici */
}

@media only screen and (min-width: 600px) {
    /* modification css ici */
    .banner-content {
        align-self: flex-start;
        margin: 0 2%;
        padding: 15px;
    }

    .banner-profile-picture {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        border: solid 3px #00000000;
        margin: 0 10px;
    }

    .banner-profile-identity {
        font-size: 28px;
    }

    .profile-information-input {
        font-size: 20px;
        padding: 12px;
    }

    .submit-profile-informations, .input-picture-button {
        font-size: 28px;
    }

    .profile-picture-input-area {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (min-width: 800px) {
    /* modification css ici */
    .edit-profile-area {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1000px) {
    /* modification css ici */
    .edit-profile-area {
        max-width: 1000px;
        width: 100%;
        align-self: center;
    }

    .edit-profile-informations-form {
        max-width: 550px;
    }

    .profile-information-input {
        font-size: 24px;
        padding: 14px;
    }

    .submit-profile-informations, .input-picture-button {
        font-size: 32px;
    }

    .profile-picture-input-area {
        width: 400px;
        height: 400px;
    }
}