@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.banner {
    display: flex;
    align-items: center;
    background: linear-gradient(to left, rgba(255, 127, 80, 40%), rgba(76, 185, 165, 40%)) 0 0/cover,
    url("../img/fridge.jpg") center/cover no-repeat;
    padding: 2% 0;
    align-self: normal;
    flex-direction: column;
}

.banner-content {
    display: flex;
    background-color: rgba(255,255,255,0.74);
    border-radius: 10px;
    align-self: center;
    padding: 10px;
}

.banner-profile-picture {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: solid 2px #00000000;
    background: linear-gradient(#fff,#fff) padding-box,
    linear-gradient(to left, rgba(76, 185, 165, 58%), rgba(66, 186, 64, 66%), rgba(255, 127, 80, 74%)) border-box;
    margin: 0px 5px;
}

.banner-profile-identity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 1000;
    color: #4CB9A5;
    align-self: center;
}

.profile-area {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.in-validation-recipes-area {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.in-validation-recipes-title {
    display: flex;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    text-align: center;
    color: #4CB9A5;
    margin: 10px 0;
}

.recipes-list {
    display: flex;
    flex-direction: column;
    min-height: 90px;
    max-height: 300px;
    overflow: auto;
    justify-content: center;
    padding: 0 0 15px 15px;
    margin: 0 10px;
    box-sizing: border-box;
    border-bottom: solid 3px #4CB9A5;
    width: 100%;
}

.recipe-element {
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 10px 0 10px;
    margin-bottom: 10px;
    border: solid;
    border-width: 3px;
    border-color: #4CB9A5;
}

.recipe-element > a {
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: black;
}

.recipe-element > * {
    font-family: "Roboto", sans-serif;
}

.no-recipe {
    display: flex;
    margin: 0;
    text-align: center;
    color: #4CB9A5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.profile-informations-area {
    display: flex;
    flex-direction: column;
}

.profile-statistics-area {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.profile-statistics-title {
    display: flex;
    margin: 5px 20px 5px 0;
    color: #4CB9A5;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 28px;
    justify-content: center;
}

.profile-statistics {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.profile-statistic {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 5px 0;
}

.profile-edit-area {
    display: flex;
    flex-direction: column;
}

.edit-profile, .delete-profile {
    display: flex;
    padding: 30px;
    margin: 5px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    background-color: #4CB9A5;
    font-size: 24px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-self: center;
}

.edit-profile:hover, .delete-profile:hover {
    background-color: #3C9A89;
    transition: 0.2s;
}

@media only screen and (min-width: 300px) {
    /* modification css ici */
}

@media only screen and (min-width: 400px) {
    /* modification css ici */
}

@media only screen and (min-width: 600px) {
    /* modification css ici */
    .banner-content {
        align-self: flex-start;
        margin: 0 2%;
        padding: 15px;
    }

    .banner-profile-picture {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        border: solid 3px #00000000;
        margin: 0 10px;
    }

    .banner-profile-identity {
        font-size: 28px;
    }
}

@media only screen and (min-width: 800px) {
    /* modification css ici */
    .profile-area {
        flex-direction: row;
        flex: 1;
        max-width: 1000px;
        align-self: center;
    }

    .in-validation-recipes-area {
        order: 1;
        align-self: normal;
        margin: 20px 5px;
        align-items: center;
    }

    .recipes-list {
        border-bottom: 0;
        max-height: 500px;
        min-height: 300px;
    }

    .profile-informations-area {
        flex: 1;
        border-right: solid 3px #4CB9A5;
        padding-bottom: 10px;
    }

    .profile-edit-area {
        min-width: 500px;
    }

    .profile-statistics-area {
        border-bottom: solid 3px #4CB9A5;
        padding-bottom: 15px;
    }
}

@media only screen and (min-width: 1000px) {
    /* modification css ici */
    .profile-edit-area {
        flex-direction: row;
        min-width: 600px;
        justify-content: space-around;
        margin: 50px 0;
    }
}