{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisations{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style-cgu.css') }}">
{% endblock %}

{% block body %}
    <div class="terms-of-use">
        <h1>Conditions générales d'utilisation</h1>
        <h2>Date de dernière mise à jour : 12/01/2024</h2>
        <p>
            Bienvenue sur urFridge !<br>

            Les présentes Conditions Générales d'Utilisation (ci-après dénommées "CGU")<br>
            régissent votre utilisation de l'application web urFridge (ci-après dénommée "le Service").<br>
            En utilisant le Service, vous acceptez d'être lié par ces CGU. Si vous n'acceptez pas ces conditions,<br>
            veuillez ne pas utiliser le Service.<br>
        </p>
        <h2>1. Utilisation du Service</h2>
        <h3>1.1 Compte utilisateur : </h3>
        <p>
            Vous pouvez être tenu de créer un compte utilisateur pour accéder à certaines fonctionnalités du Service.<br>
            Vous êtes responsable de la confidentialité de votre mot de passe et de toutes les activités liées à votre compte.<br>
        </p>
        <h3>1.2 Contenu utilisateur : </h3>
        <p>
            En publiant du contenu sur le Service, vous garantissez que vous avez le droit de le faire et<br>
            que le contenu est conforme à la législation en vigueur.<br>
            Nous nous réservons le droit de retirer tout contenu jugé inapproprié ou en violation de ces CGU.<br>
        </p>
        <h2>2. Propriété intellectuelle</h2>
        <h3>2.1 Droits d'auteur :  </h3>
        <p>
            Tout le contenu présent sur le Service, y compris les recettes, les images et les textes,<br>
            est protégé par les lois sur le droit d'auteur. Vous acceptez de respecter ces droits et de ne pas copier,<br>
            reproduire, distribuer ou créer des œuvres dérivées sans autorisation.<br>
        </p>
        <h3>2.2 Licence d'utilisation :</h3>
        <p>
            En publiant du contenu sur le Service, vous accordez à urFridge une licence non exclusive, transférable,<br>
            sous-licenciable, mondiale pour utiliser, afficher, reproduire et distribuer ce contenu dans le cadre du Service.<br>
        </p>
        <h2>3. Confidentialité</h2>
        <h3>3.1 Collecte de données :  </h3>
        <p>
            En utilisant le Service, vous consentez à la collecte et à l'utilisation de vos données conformément<br>
            à notre Politique de Confidentialité disponible ici.<br>
        </p>
        <h3>3.2 Cookies :</h3>
        <p>
            Nous utilisons des cookies pour améliorer votre expérience utilisateur.<br>
            En utilisant le Service, vous consentez à l'utilisation de cookies conformément à<br>
            notre Politique de Cookies disponible ici.<br>
        </p>
        <h2>4. Responsabilités</h2>
        <h3>4.1 Responsabilité de l'utilisateur : </h3>
        <p>
            Vous êtes responsable de l'utilisation du Service et de tout contenu que vous publiez.<br>
            urFridge ne peut être tenu responsable des dommages directs ou indirects<br>
            résultant de l'utilisation du Service.<br>
        </p>
        <h3>4.2 Modification du Service : </h3>
        <p>
            urFridge se réserve le droit de modifier, suspendre ou interrompre le Service à tout moment,<br>
            temporairement ou définitivement, sans préavis.<br>
        </p>
        <h2>5. Dispositions générales</h2>
        <h3>5.1 Loi applicable  : </h3>
        <p>
            Ces CGU sont régies par les lois en vigueur dans votre juridiction.<br>
        </p>
        <h3>5.2 Modification des CGU : </h3>
        <p>
            urFridge se réserve le droit de modifier ces CGU à tout moment. <br>
            Les modifications prendront effet dès leur publication sur le Service. <br>
            Il est de votre responsabilité de consulter régulièrement les CGU pour prendre connaissance <br>
            des éventuelles modifications.<br>
        </p>
    </div>
{% endblock %}
