<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bienvenue sur UrFridge{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

    </head>
    <body>
        <header>
            {% block header %}
                {% include 'partials/_header.html.twig' %}
            {% endblock %}
        </header>

        <main class="content">
            {% block body %}
            {% endblock %}
        </main>

        <footer>
            {% block footer %}
                {% include 'partials/_footer.html.twig' %}
            {% endblock %}
        </footer>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
